<nav class="accent-page">
    <ul>
        <li><a routerLink="/admin/settings" routerLinkActive="active">Личный кабинет</a></li>
        <!-- <li><a routerLink="/admin/books" routerLinkActive="active">Управление книгами</a></li> -->
        <li><a routerLink="/admin/users" routerLinkActive="active">Управление пользователями</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
<!-- <div class="cards">
    <div class="card">
        <h3> Пользователи</h3>
        <p>Управление пользователями системы</p>
    </div>
    <div class="card">
        <h3>Книги</h3>
        <p>Каталог книг в библиотеке</p>
    </div>
</div> -->