@import '/src/assets/styles/variables.scss';

.main-container {
    padding: $main-padding;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    .main-header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #0e3a72;
        height: $header-height;
    }
    .main-title {
        padding-left: 15px;
    }
}
