.table-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    .table-title {
        padding: 0 15px;
    }
    .table-row-item{
        padding: 5px 15px;
        width: 100%;
        display: grid;
        column-gap: 10px;
        row-gap: 2px;
        span {
            text-align: left;
        }
        &:hover {
            background-color: #ccb2e6;
        }
    }
}