nav {
    background-color: #667eea;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $nav-height;
    
    &.accent-page {
        background-color: #764ba2;
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
            color: white;
            text-decoration: none;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: #555;
                border-radius: 4px;
            }

            &.active {
                background-color: #007bff;
                border-radius: 4px;
            }
        }
    }

    .number {
        font-weight: 700;
        color: rgb(249, 235, 253);
    }
}
